<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jhlee.rr"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".RRHomeScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".RRTakeReceiptActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRTakeReceiptActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RRCaptureConfirmActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRCaptureConfirmActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RRReceiptListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRReceiptListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RRReceiptDetailActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRReceiptDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
     <!-- 
        <activity android:name=".RRWelcome"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RRTakeShot"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRTakeShot" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                
                 
        <activity android:name=".RRDayList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RRDayList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RRReceiptList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RROneDayReceiptList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RREditor"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.RREditor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".RRCarouselReceiptList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->        
</application>
    <uses-sdk android:minSdkVersion="1" />
</manifest> 
